@inject Providers.TokenAuthenticationStateProvider _tokenAuthStateProvider

<AuthorizeView>
    <div class="menu">
        <span>Hi, @context.User.Identity.Name</span>
        <button @onclick="_tokenAuthStateProvider.Logout" title="Log Out"><i class="las la-sign-out-alt"></i> Log Out</button>
    </div>
</AuthorizeView>