<aside class="navmenu">
    <div class="menu-container">
        <nav class="menu">
            <ul>
                <li class="menu-item">
                    <NavLink href="/" Match="NavLinkMatch.All"><i class="las la-home" title="Dashboard"></i> <span>Dashboard</span></NavLink>
                </li>
                <li class="menu-item">
                    <NavLink href="/repairs/new" Match="NavLinkMatch.All"><i class="las la-tools" title="New Repair"></i> <span>New Repair</span></NavLink>
                </li>
                <li class="menu-item">
                    <NavLink href="/repairs" Match="NavLinkMatch.All"><i class="las la-clipboard-list" title="View Repairs"></i> <span>View Repairs</span></NavLink>
                </li>
            </ul>
        </nav>
    </div>
</aside>
